/**
 * Place your custom styles here.
 */

@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    background-color: var(--apertusLightGrey);
}

.navbar {
    padding-top: 0.5em;
    border-bottom: 1px solid var(--apertusDarkGrey);
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-default {
    color: var(--darkText);
    background: var(--apertusLightGrey);
    font-size: 1.3em;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: var(--darkText);
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: var(--apertusOrange);
}

.navbar-brand {
    font-size: 2em;
    font-weight: bold;
    /*color: var(--apertusOrange);*/
}

@media (min-width: 1080px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

#block-videoslideshow {
    background: var(--apertusMediumGrey);
    padding: 2em;
    width: 100%;
    height: 26em;
    display: flex;
}

#block-videoslideshow div {
    width: 100%;
}

#videoContainer {
    width: 100%;
    height: 100%;
}

#videoLeft {
    width: 50%;
    height: 100%;
    padding-right: 1em;
}

#videoRight {
    width: 50%;
    height: 100%;
    padding-left: 1em;
}